body {
    font-size: 14px;
    line-height: 1.2;
    color: #dda15e;
    background-color: #344e41;
    padding: 0;
    margin: 0;
  }

.mainview {
  font-size: 14px !important;
  line-height: 1.2 !important;
  max-width: 80% !important;
  margin: 3rem !important;
  padding: 2rem !important;
  border-radius: 12px !important;
}
  
